@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --yahoo-purple: #6001d2;
  --yahoo-purple-dark: #4a00a0;
  --yahoo-purple-light: #7e1fff;
  --background: #ffffff;
  --foreground: #1d2228;
  --gray-100: #f5f8fa;
  --gray-200: #e0e4e9;
  --gray-300: #cbcfd5;
  --gray-800: #2d3239;
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

  /* UDS Variables */
  --uds-font-mono: "Roboto Mono", "ui-monospace", "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", "monospace";
  --uds-font-serif-alt: "Yahoo Serif Text", "Georgia", "Times", "Times New Roman", "serif";
  --uds-font-sans: "Yahoo Product Sans VF", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  --uds-font-serif: "Yahoo Serif Display", "Georgia", "Times", "Times New Roman", "serif";
  --uds-font-sans-alt: "Yahoo Sans Cond", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  --uds-border-radius-xl: 32px;
  --uds-border-radius-md: 8px;
  --uds-border-radius-sm: 4px;
  --uds-border-radius-xs: 2px;
  --uds-border-radius-lg: 16px;
  --uds-border-radius-none: 0px;
  --uds-border-radius-full: 9999px;
  --uds-border-width-none: 0px;
  --uds-border-width-medium: 2px;
  --uds-border-width-thick: 4px;
  --uds-border-width-thin: 1px;
  --uds-avatar-size-xl: 64px;
  --uds-avatar-size-md: 40px;
  --uds-avatar-size-sm: 28px;
  --uds-avatar-size-xs: 24px;
  --uds-avatar-size-lg: 52px;
  --uds-icon-size-md: 24px;
  --uds-icon-size-sm: 16px;
  --uds-icon-size-lg: 32px;
  --uds-icon-size-xs: 12px;
  --lightningcss-light: initial;
  --lightningcss-dark: ;
  color-scheme: light;
  --uds-light-mode-icon: inline;
  --uds-dark-mode-icon: none;
  --uds-spectrum-color-magenta-0: 244 235 255;
  --uds-spectrum-color-magenta-1: 236 217 251;
  --uds-spectrum-color-magenta-2: 229 199 247;
  --uds-spectrum-color-magenta-3: 223 182 243;
  --uds-spectrum-color-magenta-4: 220 166 240;
  --uds-spectrum-color-magenta-5: 212 136 227;
  --uds-spectrum-color-magenta-6: 207 109 214;
  --uds-spectrum-color-magenta-7: 201 84 199;
  --uds-spectrum-color-magenta-8: 188 61 177;
  --uds-spectrum-color-magenta-9: 164 46 151;
  --uds-spectrum-color-magenta-10: 140 32 126;
  --uds-spectrum-color-magenta-11: 116 22 103;
  --uds-spectrum-color-magenta-12: 92 13 81;
  --uds-spectrum-color-magenta-13: 68 6 60;
  --uds-spectrum-color-magenta-14: 44 2 39;
  --uds-spectrum-color-magenta-15: 20 0 18;
  --uds-spectrum-color-pink-0: 255 247 252;
  --uds-spectrum-color-pink-1: 255 235 249;
  --uds-spectrum-color-pink-2: 254 216 247;
  --uds-spectrum-color-pink-3: 255 176 231;
  --uds-spectrum-color-pink-4: 255 133 211;
  --uds-spectrum-color-pink-5: 255 85 195;
  --uds-spectrum-color-pink-6: 255 54 161;
  --uds-spectrum-color-pink-7: 255 0 128;
  --uds-spectrum-color-pink-8: 230 0 115;
  --uds-spectrum-color-pink-9: 220 2 118;
  --uds-spectrum-color-pink-10: 178 6 102;
  --uds-spectrum-color-pink-11: 113 0 75;
  --uds-spectrum-color-pink-12: 85 0 58;
  --uds-spectrum-color-pink-13: 56 0 40;
  --uds-spectrum-color-pink-14: 45 0 34;
  --uds-spectrum-color-pink-15: 38 0 16;
  --uds-spectrum-color-green-0: 246 255 244;
  --uds-spectrum-color-green-1: 225 253 220;
  --uds-spectrum-color-green-2: 202 250 197;
  --uds-spectrum-color-green-3: 162 242 162;
  --uds-spectrum-color-green-4: 126 228 135;
  --uds-spectrum-color-green-5: 86 196 112;
  --uds-spectrum-color-green-6: 48 161 89;
  --uds-spectrum-color-green-7: 0 135 81;
  --uds-spectrum-color-green-8: 10 122 68;
  --uds-spectrum-color-green-9: 0 108 59;
  --uds-spectrum-color-green-10: 4 94 52;
  --uds-spectrum-color-green-11: 4 77 44;
  --uds-spectrum-color-green-12: 4 59 35;
  --uds-spectrum-color-green-13: 4 51 31;
  --uds-spectrum-color-green-14: 4 43 27;
  --uds-spectrum-color-green-15: 3 33 21;
  --uds-spectrum-color-lime-0: 249 255 245;
  --uds-spectrum-color-lime-1: 237 255 224;
  --uds-spectrum-color-lime-2: 230 255 209;
  --uds-spectrum-color-lime-3: 217 250 190;
  --uds-spectrum-color-lime-4: 202 239 168;
  --uds-spectrum-color-lime-5: 172 222 122;
  --uds-spectrum-color-lime-6: 137 199 70;
  --uds-spectrum-color-lime-7: 101 169 21;
  --uds-spectrum-color-lime-8: 75 133 0;
  --uds-spectrum-color-lime-9: 70 122 0;
  --uds-spectrum-color-lime-10: 62 107 0;
  --uds-spectrum-color-lime-11: 50 83 0;
  --uds-spectrum-color-lime-12: 40 65 0;
  --uds-spectrum-color-lime-13: 33 51 0;
  --uds-spectrum-color-lime-14: 28 43 0;
  --uds-spectrum-color-lime-15: 26 38 0;
  --uds-spectrum-color-yellow-0: 255 253 238;
  --uds-spectrum-color-yellow-1: 255 250 209;
  --uds-spectrum-color-yellow-2: 255 246 161;
  --uds-spectrum-color-yellow-3: 255 242 125;
  --uds-spectrum-color-yellow-4: 255 233 87;
  --uds-spectrum-color-yellow-5: 255 211 51;
  --uds-spectrum-color-yellow-6: 229 185 23;
  --uds-spectrum-color-yellow-7: 151 117 0;
  --uds-spectrum-color-yellow-8: 124 90 0;
  --uds-spectrum-color-yellow-9: 100 67 0;
  --uds-spectrum-color-yellow-10: 88 57 0;
  --uds-spectrum-color-yellow-11: 75 47 0;
  --uds-spectrum-color-yellow-12: 58 34 0;
  --uds-spectrum-color-yellow-13: 44 25 0;
  --uds-spectrum-color-yellow-14: 32 17 0;
  --uds-spectrum-color-yellow-15: 21 11 0;
  --uds-spectrum-color-teal-0: 242 255 251;
  --uds-spectrum-color-teal-1: 224 255 248;
  --uds-spectrum-color-teal-2: 207 255 248;
  --uds-spectrum-color-teal-3: 177 255 243;
  --uds-spectrum-color-teal-4: 133 247 233;
  --uds-spectrum-color-teal-5: 78 232 220;
  --uds-spectrum-color-teal-6: 17 211 205;
  --uds-spectrum-color-teal-7: 0 160 160;
  --uds-spectrum-color-teal-8: 0 130 130;
  --uds-spectrum-color-teal-9: 0 122 122;
  --uds-spectrum-color-teal-10: 0 110 107;
  --uds-spectrum-color-teal-11: 0 89 86;
  --uds-spectrum-color-teal-12: 0 69 67;
  --uds-spectrum-color-teal-13: 0 54 53;
  --uds-spectrum-color-teal-14: 0 44 44;
  --uds-spectrum-color-teal-15: 0 38 38;
  --uds-spectrum-color-brown-0: 255 253 250;
  --uds-spectrum-color-brown-1: 255 246 224;
  --uds-spectrum-color-brown-2: 255 236 209;
  --uds-spectrum-color-brown-3: 251 221 191;
  --uds-spectrum-color-brown-4: 237 199 159;
  --uds-spectrum-color-brown-5: 217 170 118;
  --uds-spectrum-color-brown-6: 185 136 79;
  --uds-spectrum-color-brown-7: 151 104 47;
  --uds-spectrum-color-brown-8: 134 90 35;
  --uds-spectrum-color-brown-9: 117 76 25;
  --uds-spectrum-color-brown-10: 91 56 11;
  --uds-spectrum-color-brown-11: 71 42 4;
  --uds-spectrum-color-brown-12: 55 33 1;
  --uds-spectrum-color-brown-13: 45 27 0;
  --uds-spectrum-color-brown-14: 38 23 0;
  --uds-spectrum-color-brown-15: 26 16 0;
  --uds-spectrum-color-cyan-0: 245 255 255;
  --uds-spectrum-color-cyan-1: 223 255 255;
  --uds-spectrum-color-cyan-2: 201 255 255;
  --uds-spectrum-color-cyan-3: 161 245 251;
  --uds-spectrum-color-cyan-4: 121 229 240;
  --uds-spectrum-color-cyan-5: 85 205 223;
  --uds-spectrum-color-cyan-6: 54 177 201;
  --uds-spectrum-color-cyan-7: 29 146 174;
  --uds-spectrum-color-cyan-8: 20 114 142;
  --uds-spectrum-color-cyan-9: 19 100 126;
  --uds-spectrum-color-cyan-10: 17 86 111;
  --uds-spectrum-color-cyan-11: 13 64 86;
  --uds-spectrum-color-cyan-12: 10 48 67;
  --uds-spectrum-color-cyan-13: 9 37 53;
  --uds-spectrum-color-cyan-14: 8 29 44;
  --uds-spectrum-color-cyan-15: 4 18 28;
  --uds-spectrum-color-citron-0: 253 255 230;
  --uds-spectrum-color-citron-1: 249 253 193;
  --uds-spectrum-color-citron-2: 245 252 158;
  --uds-spectrum-color-citron-3: 235 244 87;
  --uds-spectrum-color-citron-4: 222 231 23;
  --uds-spectrum-color-citron-5: 205 212 0;
  --uds-spectrum-color-citron-6: 184 188 0;
  --uds-spectrum-color-citron-7: 158 159 0;
  --uds-spectrum-color-citron-8: 122 122 0;
  --uds-spectrum-color-citron-9: 115 113 0;
  --uds-spectrum-color-citron-10: 101 99 0;
  --uds-spectrum-color-citron-11: 78 76 0;
  --uds-spectrum-color-citron-12: 61 58 0;
  --uds-spectrum-color-citron-13: 49 46 0;
  --uds-spectrum-color-citron-14: 42 39 0;
  --uds-spectrum-color-citron-15: 38 35 0;
  --uds-spectrum-color-orange-0: 255 249 242;
  --uds-spectrum-color-orange-1: 255 239 222;
  --uds-spectrum-color-orange-2: 255 229 202;
  --uds-spectrum-color-orange-3: 249 208 167;
  --uds-spectrum-color-orange-4: 252 182 111;
  --uds-spectrum-color-orange-5: 255 158 66;
  --uds-spectrum-color-orange-6: 255 137 21;
  --uds-spectrum-color-orange-7: 226 105 0;
  --uds-spectrum-color-orange-8: 204 78 0;
  --uds-spectrum-color-orange-9: 191 73 0;
  --uds-spectrum-color-orange-10: 166 64 0;
  --uds-spectrum-color-orange-11: 145 56 0;
  --uds-spectrum-color-orange-12: 115 44 0;
  --uds-spectrum-color-orange-13: 94 37 1;
  --uds-spectrum-color-orange-14: 68 26 0;
  --uds-spectrum-color-orange-15: 38 15 0;
  --uds-spectrum-color-red-0: 255 250 250;
  --uds-spectrum-color-red-1: 255 240 241;
  --uds-spectrum-color-red-2: 255 231 232;
  --uds-spectrum-color-red-3: 255 214 218;
  --uds-spectrum-color-red-4: 255 187 192;
  --uds-spectrum-color-red-5: 255 152 159;
  --uds-spectrum-color-red-6: 253 106 116;
  --uds-spectrum-color-red-7: 255 77 82;
  --uds-spectrum-color-red-8: 238 0 23;
  --uds-spectrum-color-red-9: 211 13 46;
  --uds-spectrum-color-red-10: 187 0 10;
  --uds-spectrum-color-red-11: 157 0 4;
  --uds-spectrum-color-red-12: 127 0 0;
  --uds-spectrum-color-red-13: 98 3 0;
  --uds-spectrum-color-red-14: 68 4 0;
  --uds-spectrum-color-red-15: 38 3 0;
  --uds-spectrum-color-mint-0: 245 255 249;
  --uds-spectrum-color-mint-1: 231 252 240;
  --uds-spectrum-color-mint-2: 218 248 232;
  --uds-spectrum-color-mint-3: 201 239 219;
  --uds-spectrum-color-mint-4: 174 224 199;
  --uds-spectrum-color-mint-5: 133 203 172;
  --uds-spectrum-color-mint-6: 88 179 142;
  --uds-spectrum-color-mint-7: 45 151 113;
  --uds-spectrum-color-mint-8: 12 122 88;
  --uds-spectrum-color-mint-9: 1 109 78;
  --uds-spectrum-color-mint-10: 1 96 71;
  --uds-spectrum-color-mint-11: 0 74 57;
  --uds-spectrum-color-mint-12: 0 58 46;
  --uds-spectrum-color-mint-13: 0 47 38;
  --uds-spectrum-color-mint-14: 0 41 33;
  --uds-spectrum-color-mint-15: 0 28 23;
  --uds-spectrum-color-gray-0: 255 255 255;
  --uds-spectrum-color-gray-1: 245 248 250;
  --uds-spectrum-color-gray-2: 240 243 245;
  --uds-spectrum-color-gray-3: 224 228 233;
  --uds-spectrum-color-gray-4: 199 205 210;
  --uds-spectrum-color-gray-5: 176 185 193;
  --uds-spectrum-color-gray-6: 151 158 168;
  --uds-spectrum-color-gray-7: 130 138 147;
  --uds-spectrum-color-gray-8: 110 119 128;
  --uds-spectrum-color-gray-9: 91 99 106;
  --uds-spectrum-color-gray-10: 70 78 86;
  --uds-spectrum-color-gray-11: 44 54 63;
  --uds-spectrum-color-gray-12: 35 42 49;
  --uds-spectrum-color-gray-13: 29 34 40;
  --uds-spectrum-color-gray-14: 16 21 24;
  --uds-spectrum-color-gray-15: 0 0 0;
  --uds-spectrum-color-blue-0: 242 250 255;
  --uds-spectrum-color-blue-1: 223 242 255;
  --uds-spectrum-color-blue-2: 202 234 255;
  --uds-spectrum-color-blue-3: 162 218 255;
  --uds-spectrum-color-blue-4: 125 203 255;
  --uds-spectrum-color-blue-5: 89 189 255;
  --uds-spectrum-color-blue-6: 18 169 255;
  --uds-spectrum-color-blue-7: 24 143 255;
  --uds-spectrum-color-blue-8: 15 105 255;
  --uds-spectrum-color-blue-9: 0 99 235;
  --uds-spectrum-color-blue-10: 0 89 222;
  --uds-spectrum-color-blue-11: 0 72 196;
  --uds-spectrum-color-blue-12: 0 55 164;
  --uds-spectrum-color-blue-13: 0 39 126;
  --uds-spectrum-color-blue-14: 0 23 83;
  --uds-spectrum-color-blue-15: 0 10 38;
  --uds-spectrum-color-carbon-0: 255 255 255;
  --uds-spectrum-color-carbon-1: 252 251 251;
  --uds-spectrum-color-carbon-2: 245 245 245;
  --uds-spectrum-color-carbon-3: 227 227 227;
  --uds-spectrum-color-carbon-4: 205 205 205;
  --uds-spectrum-color-carbon-5: 176 176 176;
  --uds-spectrum-color-carbon-6: 142 142 142;
  --uds-spectrum-color-carbon-7: 106 106 106;
  --uds-spectrum-color-carbon-8: 90 90 90;
  --uds-spectrum-color-carbon-9: 68 68 68;
  --uds-spectrum-color-carbon-10: 50 50 50;
  --uds-spectrum-color-carbon-11: 41 41 41;
  --uds-spectrum-color-carbon-12: 31 31 31;
  --uds-spectrum-color-carbon-13: 20 20 20;
  --uds-spectrum-color-carbon-14: 10 10 10;
  --uds-spectrum-color-carbon-15: 0 0 0;
  --uds-spectrum-color-sunset-0: 255 240 238;
  --uds-spectrum-color-sunset-1: 251 221 218;
  --uds-spectrum-color-sunset-2: 247 203 199;
  --uds-spectrum-color-sunset-3: 234 170 163;
  --uds-spectrum-color-sunset-4: 221 140 130;
  --uds-spectrum-color-sunset-5: 209 113 99;
  --uds-spectrum-color-sunset-6: 196 89 71;
  --uds-spectrum-color-sunset-7: 184 68 46;
  --uds-spectrum-color-sunset-8: 171 51 24;
  --uds-spectrum-color-sunset-9: 158 44 18;
  --uds-spectrum-color-sunset-10: 145 38 12;
  --uds-spectrum-color-sunset-11: 124 26 1;
  --uds-spectrum-color-sunset-12: 102 22 0;
  --uds-spectrum-color-sunset-13: 81 18 0;
  --uds-spectrum-color-sunset-14: 60 13 0;
  --uds-spectrum-color-sunset-15: 38 8 0;
  --uds-spectrum-color-purple-0: 248 244 255;
  --uds-spectrum-color-purple-1: 235 229 255;
  --uds-spectrum-color-purple-2: 225 217 255;
  --uds-spectrum-color-purple-3: 213 207 255;
  --uds-spectrum-color-purple-4: 202 194 255;
  --uds-spectrum-color-purple-5: 176 159 252;
  --uds-spectrum-color-purple-6: 149 126 252;
  --uds-spectrum-color-purple-7: 131 103 255;
  --uds-spectrum-color-purple-8: 124 73 252;
  --uds-spectrum-color-purple-9: 125 46 255;
  --uds-spectrum-color-purple-10: 96 1 210;
  --uds-spectrum-color-purple-11: 80 21 176;
  --uds-spectrum-color-purple-12: 57 0 125;
  --uds-spectrum-color-purple-13: 43 0 103;
  --uds-spectrum-color-purple-14: 29 0 71;
  --uds-spectrum-color-purple-15: 16 0 38;
  --uds-spectrum-color-rose-0: 255 247 250;
  --uds-spectrum-color-rose-1: 255 235 243;
  --uds-spectrum-color-rose-2: 255 224 239;
  --uds-spectrum-color-rose-3: 255 209 226;
  --uds-spectrum-color-rose-4: 255 193 213;
  --uds-spectrum-color-rose-5: 250 162 187;
  --uds-spectrum-color-rose-6: 233 126 157;
  --uds-spectrum-color-rose-7: 211 89 124;
  --uds-spectrum-color-rose-8: 189 57 95;
  --uds-spectrum-color-rose-9: 167 52 85;
  --uds-spectrum-color-rose-10: 144 47 75;
  --uds-spectrum-color-rose-11: 113 35 57;
  --uds-spectrum-color-rose-12: 87 27 44;
  --uds-spectrum-color-rose-13: 66 22 35;
  --uds-spectrum-color-rose-14: 50 18 27;
  --uds-spectrum-color-rose-15: 38 15 22;
  --uds-spectrum-color-nude-0: 255 245 245;
  --uds-spectrum-color-nude-1: 251 222 221;
  --uds-spectrum-color-nude-2: 248 203 196;
  --uds-spectrum-color-nude-3: 235 185 172;
  --uds-spectrum-color-nude-4: 222 169 149;
  --uds-spectrum-color-nude-5: 202 155 136;
  --uds-spectrum-color-nude-6: 182 139 122;
  --uds-spectrum-color-nude-7: 162 122 106;
  --uds-spectrum-color-nude-8: 142 104 89;
  --uds-spectrum-color-nude-9: 131 93 80;
  --uds-spectrum-color-nude-10: 120 83 71;
  --uds-spectrum-color-nude-11: 100 61 48;
  --uds-spectrum-color-nude-12: 80 34 19;
  --uds-spectrum-color-nude-13: 60 14 0;
  --uds-spectrum-color-nude-14: 40 9 0;
  --uds-spectrum-color-nude-15: 20 4 0;
  --uds-spectrum-color-indigo-0: 242 244 255;
  --uds-spectrum-color-indigo-1: 226 230 255;
  --uds-spectrum-color-indigo-2: 209 213 255;
  --uds-spectrum-color-indigo-3: 184 188 255;
  --uds-spectrum-color-indigo-4: 156 160 255;
  --uds-spectrum-color-indigo-5: 130 130 255;
  --uds-spectrum-color-indigo-6: 109 110 255;
  --uds-spectrum-color-indigo-7: 93 94 255;
  --uds-spectrum-color-indigo-8: 64 64 227;
  --uds-spectrum-color-indigo-9: 32 21 194;
  --uds-spectrum-color-indigo-10: 26 13 171;
  --uds-spectrum-color-indigo-11: 22 9 144;
  --uds-spectrum-color-indigo-12: 18 5 118;
  --uds-spectrum-color-indigo-13: 15 3 91;
  --uds-spectrum-color-indigo-14: 11 1 65;
  --uds-spectrum-color-indigo-15: 6 0 38;
  --uds-shadow-color-secondary: var(--uds-spectrum-color-purple-9);
  --uds-shadow-color-primary: var(--uds-spectrum-color-carbon-12);
  --uds-background-color-warning-secondary: var(--uds-spectrum-color-orange-2);
  --uds-background-color-positive-secondary: var(--uds-spectrum-color-green-2);
  --uds-background-color-positive: var(--uds-spectrum-color-green-5);
  --uds-background-color-alert-secondary: var(--uds-spectrum-color-red-2);
  --uds-background-color-accent: var(--uds-spectrum-color-carbon-2);
  --uds-background-color-brand-secondary: var(--uds-spectrum-color-purple-1);
  --uds-background-color-secondary: var(--uds-spectrum-color-carbon-2);
  --uds-background-color-alert: var(--uds-spectrum-color-red-9);
  --uds-background-color-info-secondary: var(--uds-spectrum-color-blue-1);
  --uds-background-color-warning: var(--uds-spectrum-color-orange-5);
  --uds-background-color-brand: var(--uds-spectrum-color-purple-9);
  --uds-background-color-primary: var(--uds-spectrum-color-gray-0);
  --uds-background-color-info: var(--uds-spectrum-color-blue-5);
  --uds-line-color-warning-secondary: var(--uds-spectrum-color-orange-12);
  --uds-line-color-positive-secondary: var(--uds-spectrum-color-green-12);
  --uds-line-color-tertiary: var(--uds-spectrum-color-gray-7);
  --uds-line-color-positive: var(--uds-spectrum-color-green-9);
  --uds-line-color-alert-secondary: var(--uds-spectrum-color-red-11);
  --uds-line-color-accent: var(--uds-spectrum-color-carbon-4);
  --uds-line-color-brand-secondary: var(--uds-spectrum-color-purple-10);
  --uds-line-color-secondary: var(--uds-spectrum-color-gray-9);
  --uds-line-color-alert: var(--uds-spectrum-color-red-10);
  --uds-line-color-info-secondary: var(--uds-spectrum-color-blue-6);
  --uds-line-color-warning: var(--uds-spectrum-color-orange-8);
  --uds-line-color-brand: var(--uds-spectrum-color-purple-9);
  --uds-line-color-muted: var(--uds-spectrum-color-gray-3);
  --uds-line-color-info: var(--uds-spectrum-color-blue-6);
  --uds-line-color-primary: var(--uds-spectrum-color-gray-12);
  --uds-foreground-color-warning-secondary: var(--uds-spectrum-color-orange-12);
  --uds-foreground-color-positive-secondary: var(--uds-spectrum-color-green-12);
  --uds-foreground-color-tertiary: var(--uds-spectrum-color-gray-9);
  --uds-foreground-color-positive: var(--uds-spectrum-color-green-9);
  --uds-foreground-color-alert-secondary: var(--uds-spectrum-color-red-11);
  --uds-foreground-color-accent: var(--uds-spectrum-color-carbon-7);
  --uds-foreground-color-brand-secondary: var(--uds-spectrum-color-purple-10);
  --uds-foreground-color-secondary: var(--uds-spectrum-color-carbon-10);
  --uds-foreground-color-on-color: var(--uds-spectrum-color-gray-0);
  --uds-foreground-color-alert: var(--uds-spectrum-color-red-10);
  --uds-foreground-color-info-secondary: var(--uds-spectrum-color-blue-12);
  --uds-foreground-color-warning: var(--uds-spectrum-color-orange-8);
  --uds-foreground-color-brand: var(--uds-spectrum-color-purple-9);
  --uds-foreground-color-muted: var(--uds-spectrum-color-gray-8);
  --uds-foreground-color-primary: var(--uds-spectrum-color-carbon-13);
  --uds-foreground-color-info: var(--uds-spectrum-color-blue-8);
  --uds-drop-shadow-elevation-0: var(--uds-drop-shadow-none);
  --uds-line-color-elevation-0: rgb(var(--uds-line-color-accent));
  --uds-border-width-elevation-0: var(--uds-border-width-thin);
  --uds-background-color-elevation-0: #fff;
  --uds-drop-shadow-elevation-1: var(--uds-drop-shadow-sm);
  --uds-line-color-elevation-1: rgb(var(--uds-line-color-accent));
  --uds-border-width-elevation-1: var(--uds-border-width-thin);
  --uds-background-color-elevation-1: #fff;
  --uds-drop-shadow-elevation-2: var(--uds-drop-shadow-md);
  --uds-line-color-elevation-2: rgb(var(--uds-line-color-accent));
  --uds-border-width-elevation-2: var(--uds-border-width-thin);
  --uds-background-color-elevation-2: #fff;
  --uds-drop-shadow-elevation-3: var(--uds-drop-shadow-lg);
  --uds-line-color-elevation-3: rgb(var(--uds-line-color-accent));
  --uds-border-width-elevation-3: var(--uds-border-width-thin);
  --uds-background-color-elevation-3: #fff;
  --uds-drop-shadow-elevation-4: var(--uds-drop-shadow-xl);
  --uds-line-color-elevation-4: rgb(var(--uds-line-color-accent));
  --uds-border-width-elevation-4: var(--uds-border-width-thin);
  --uds-background-color-elevation-4: #fff;
  --uds-drop-shadow-elevation-5: var(--uds-drop-shadow-2xl);
  --uds-line-color-elevation-5: rgb(var(--uds-line-color-accent));
  --uds-border-width-elevation-5: var(--uds-border-width-thin);
  --uds-background-color-elevation-5: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  font-family: "Yahoo Sans", var(--font-sans);
  background-color: var(--background);
  color: var(--foreground);
}

a {
  color: inherit;
  text-decoration: none;
}

/* Utility classes */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}